<body class="tbody play_grid">

<div class="content body_back play_1">
<div class="play_cont">
<div >
  <h1 class="title-sml">Твоих попаданий:
    <span id="user-hint"></span>/20</h1>
  <div id="field-comp" class="field"></div>
</div>
<div>
  <h2 class="title-sml">Осталось кораблей:
    <span id="comp-hint">20</span>/20</h2>
  <div id="field-user" class="field"></div>

</div>

</div>

</div>
<footer class="play_2">
<h2 class="title-sml st">Для изменения случайной расстановки, требуется обновить страницу</h2>
</footer>
</body>