<nav>
  <%= link_to 'Вернуться к своей флотилии', login_path %>
</nav>
<nav>
  <%= link_to 'Создать новую флотилию', register_path %>
</nav>
<nav>
  <%= button_to "Log In with Google", "/auth/google_oauth2" %>
</nav>



<h1> Приветствуем тебя, отважный капитан! </h1>
