.sheet_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    grid-template-areas:
        "h"
        "c"
        "f";
}

.header_cont{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    justify-content: center;
    grid-template-areas:
        "fir sec";
}

.head_fir{
    grid-area: fir;

}

.head_sec{
    grid-area: sec;
    margin: 5em;
}

.cont_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    grid-template-areas:
        "artc artc"
        "r l";
}

.article{
    grid-area: artc;
}

.exit_button {
    position: relative;
    display: inline-block;
    color: #960303;
    font-weight: normal;
    font-size: 4vmin;
    text-decoration: none;
    text-shadow: rgba(255,255,255,25%) 1px 1px, rgba(100,100,100,10%) 3px 7px 3px;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    background-color: rgba(255,255,255,50%);
    background-image:
            linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%);
    background-repeat: no-repeat;
    background-size: 300% 200%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 300% 0, 0 0, 0 0, 0 200%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
exit_button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
exit_button:active {
    top: 1px;
}

.sheet_buttons{
    margin-top: 3em;
}


