.error_message
{
    color: #730E15;
}

.register_form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 200px;
}

.input_item
{
    display: flex;
    justify-content: space-between;


}