@font-face {
    font-family: 'Gardens';
    src: url('gardenscregular.ttf');
    font-family: 'Airbone';
    src: url('airborne.ttf');
}

body{
    font-family: "Airbone";
}

.title-large{
    font-size: 4vmax;
}

.title{
    font-size: 3vmax;
}

.title-sml{
    font-size: 1vmax;
    text-align: center;
}

.main-txt{
    color:white;
    text-align: center;
}

.button_txt{
    text-align: center;
}